@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Parisienne&display=swap");

.main {
  margin: 0;
  padding: 0;
}
.header {
  background-color: rgb(99, 51, 51);
}
.icon {
  font-size: 4rem;
  padding-left: 3rem;
}
.date {
  padding-right: 3rem;
}

.img1 {
  background: url("./img/1.jpeg");
  background-position: center;
  background-size: auto 100%;
}
.img2 {
  background: url("./img/2.jpg");
  background-position: center;
  background-size: auto 100%;
}
.img3 {
  background: url("./img/3.jpeg");
  background-position: center;
  background-size: auto 100%;
}
.img4 {
  background: url("./img/4.jpeg");
  background-position: center;
  background-size: auto 100%;
}
.img5 {
  background: url("./img/5.jpeg");
  background-position: center;
  background-size: auto 100%;
}
.img {
  height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.img h1 {
  color: aqua;
  font-family: "Monoton", cursive;
  font-size: 3.3rem;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .date {
    display: none;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .main {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  .img {
    width: 100% !important;
  }
  .img1 {
    width: 100vw;
    background: url("./img/1.jpeg");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .img2 {
    background: url("./img/2.jpg");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .img3 {
    background: url("./img/3.jpeg");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .img4 {
    background: url("./img/4.jpeg");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .img5 {
    background: url("./img/5.jpeg");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* // Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width */
